#title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#winner{
    text-align: center;
    margin-top: 7vh; 
    color: rgb(0, 133, 0);
    font-size: 4vw; 
    position: relative; 
    z-index: 1
}

@media only screen and (max-width: 768px) {
    #winner {
        font-size: 6vw; 
    }
}

#scoreOne, #scoreTwo, #versus {
    display: inline-block;
    margin-right: 20px; 
    top: 50%;
    left: 50%;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(243, 241, 241);
    z-index: 2;
    border: double;
}

.containerSelect{
    text-align: center;
}


.scores{
    margin-left: 150px;
    
}

body {
    background-image: url(images/ping.png);
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    body {
        background-size: auto 100%;
    }
}

.screen{
    border-radius: 10px;
    background-color: rgb(237, 237, 247);
    width: 400px;
    height: 70px;
    margin-bottom: 20px;
}

.button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border-radius: 15px;
    cursor: pointer;
    border: ridge;
}


#btnOne{
    background-color: rgb(0, 162, 255);
}


#btnTwo{
    background-color: rgb(224, 67, 255);
}

#reset{
    background-color: rgb(255, 67, 67);
}

#select {
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    
}

#custon {
    display: none;
}

.containerButtons{
    margin-top: 20px;
    margin-left: 35px;
}

.containerInput{
    margin-left: 15px;
}

.containerError{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(255, 255,255,0.5);
    z-index: 2;
    max-width: 80%;
    display: none;
    width: auto;
    box-sizing: border-box;
}

#btnError {
    position: absolute;
    top: 4px;
    right: 5px; 
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#error{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}